extends ../../layout.jade

block contenido
	-if (user.permission == "Admin") 
		include ../session_permission/adminActions.jade
	-else if (user.permission == "Branch")
		include ../session_permission/branchActions.jade
	-else if (user.permission == "Resource")
		include ../session_permission/resourceActions.jade
	-else
		include ../session_permission/userActions.jade

	main
		div(class="container mx-auto col-xs-10 col-sm-8 col-md-6 col-lg-4 top-space")
			h1(class="text-center mb-3") Bloqueo de horas
			form(id="sendDoc" action="/session/horarios/#{documento.id}?_method=PUT" method="POST")
				div(class="container") Agendamiento:
					input(type="hidden" id="perm" name="perm" value=user.permission)
					input(type="hidden" id="userId" name="userId" value=user._id)
					div(id="calendar")
						input(type="hidden" id="dateSelect" name="dateSelect" value="")

				div(class="form-group btn-group float-right top-space" role="group")
					button(type="button" class="btn btn-outline-danger btn-lg" id="prevBtn" onclick="window.location='/session/horarios'" data-toggle="tooltip" data-placement="top" title="Atrás")
						i(class="fa fa-caret-square-o-left")
					button(type="button" class="btn btn-outline-success btn-lg" id="nextBtn" onclick="this.form.submit();" data-toggle="tooltip" data-placement="top" title="Siguiente")
						i(class="fa fa-check-square-o")

				script.
					$(document).ready(function() {
						var workHours = !{JSON.stringify(user.workHours)};

						$("#calendar").fullCalendar({
							header: {
								left: 'title',
								right: 'prev,next,today'	
							},
							titleFormat: 'MMM YYYY',
							buttonText: {
								today:    'hoy'
							},
							themeSystem: 'bootstrap4',
							defaultView: 'agendaWeek',
							columnHeaderText: function(mom){
								switch (mom.weekday()){
									case 0: return 'Dom\n' + mom.date() + '/' + (mom.month()+1); break;
									case 1: return 'Lun\n' + mom.date() + '/' + (mom.month()+1); break;
									case 2: return 'Mar\n' + mom.date() + '/' + (mom.month()+1); break;
									case 3: return 'Mie\n' + mom.date() + '/' + (mom.month()+1); break;
									case 4: return 'Jue\n' + mom.date() + '/' + (mom.month()+1); break;
									case 5: return 'Vie\n' + mom.date() + '/' + (mom.month()+1); break;
									case 6: return 'Sab\n' + mom.date() + '/' + (mom.month()+1); break;
									default: return;
								}
							},
							allDaySlot: false,
							slotDuration: "01:00:00",
							slotLabelInterval: "01:00",
							slotEventOverlap: false,
							minTime: "07:00:00",
							maxTime: "20:00:00",
							businessHours: workHours,
							//Para seleccionar fecha y hora
							selectable: true,
							selectHelper: true,
							selectOverlap: function(event){
								return event.rendering === "background";
							},
							selectConstraint: 'businessHours',
							select: function(start, end, jsEvent, view){
								var appointment = {
									start: moment.utc(start),
									end: moment.utc(end)
								};
								document.getElementById("dateSelect").value = JSON.stringify(appointment);
							},
							unselectAuto: false,
							unselect: function(jsEvent, view){
								document.getElementById("dateSelect").value = "";
							},
							//Para eventos existentes
							editable: false,
							displayEventEnd: false,
							events: {
								url: 'http://localhost:3000/session/documentos/events',
								type: 'GET',
								error: function(){
									console.log('there was an error while fetching events!');
								},
								data : function(){
									return { resourceId : "!{user._id}" }
								},
								color: 'lightGrey',
								textColor: 'grey',
								eventOverlap: false,
								success: function(events){
									var eventsToEdit = _.where(events, {_id: "!{documento.event._id}"});
									if(eventsToEdit.length > 0) {
										eventsToEdit[0].color = "red";
										eventsToEdit[0].rendering = "background";
									}
								}
							}
						});
					});
