extends ../../layout.jade

block contenido
	-if (user.permission == "Admin")
		include ../session_permission/adminActions.jade
	-else if (user.permission == "Branch")
		include ../session_permission/branchActions.jade
	-else if (user.permission == "Resource")
		include ../session_permission/resourceActions.jade
	-else
		include ../session_permission/userActions.jade

	main
		div(class="container mx-auto col-xs-12 col-sm-6 top-space")
			h1(class="text-center mb-3") Editar ficha clínica
			form(action="/session/records?_method=PUT" id="sendRecord" class="form-vertical" method="POST")
				p Cliente:
				div(class="form-group")
					select(class="form-control" name="usr" id="usr")
						if(users.length == 1)
							option(class="text-secondary" value=users[0]._id selected)=users[0].name
						else
							option(class="text-secondary" value="undefined" disabled selected) Usuario
							for user in users
								option(class="text-secondary" value=user._id)=user.name
				div(class="form-group")
					label(for="dscrpa1") Descripción Ficha Paciente:
					input(type="text" name="dscrpa1" id="dscrpa1" value="#{records.dscrpa1}" class="form-control" Placeholder="Ingresar detalle de ficha clinica del paciente" rows="5")
				div(class="form-group")
					label(for="dscrpa2") Descripción Herida:
					input(type="text" name="dscrpa2" id="dscrpa2" value="#{records.dscrpa2}" class="form-control" Placeholder="Ingresar detalle de la herida producida" rows="5")
				Div(class="form-group")
					label(for="dateInjury") Fecha Herida:
					input(type="date" name="dateInjury" id="dateInjury" value="#{records.dateInjury}")
				Div(class="form-group")
					label(for="photoInjury") Foto Herida:
					input(type="text" name="photoInjury" id="photoInjury" value="#{records.photoInjury}")
				div(class="form-group text-right top-space")
					div(class="btn-group")
						button(type="submit" formaction="/session/records" class="btn btn-default btn-outline-danger btn-lg" data-toggle="tooltip" data-placement="top" title="Volver")
							i(class="fa fa-caret-square-o-left")
						button(type="submit" formaction="/session/records/edit" formmethod="POST" class="btn btn-outline-success btn-lg" data-toggle="tooltip" data-placement="top" title="Gardar")
							i(class="fa fa-check-square-o")