extends ../../layout.jade

block contenido
	-if (user.permission == "Admin")
		include ../session_permission/adminActions.jade
	-else if (user.permission == "Branch")
		include ../session_permission/branchActions.jade
	-else if (user.permission == "Resource")
		include ../session_permission/resourceActions.jade
	-else
		include ../session_permission/userActions.jade

	main
		div(class="container mx-auto col-xs-12 col-sm-6 top-space")
			h1(class="text-center mb-5") Ficha clínica
			div(class="form-group")
				label(class="font-weight-bold mr-3") Nombre:
				label #{user.name}
			div(class="form-group")
				label(class="font-weight-bold mr-3") Apellido Paterno:
				label #{user.lastName1}
			div(class="form-group")
				label(class="font-weight-bold mr-3") Apellido Materno:
				label #{user.lastName2}
			-if(user.permission != "Admin" && user.permission != "Branch" && user.permission != "Resource")
				div(class="form-group")
					label(class="font-weight-bold mr-3") Género: 
						-if(user.gender == "M")
							label(for="gender") Mujer
						-if(user.gender == "H")
							label(for="gender") Hombre
			div(class="form-group")
				label(class="font-weight-bold mr-3") Fono:
				label #{user.fono}
			div(class="form-group")
				label(class="font-weight-bold mr-3") Email:
				label #{user.mail}
			div(class="form-group")
				label(class="font-weight-bold mr-3") Descripción sesión:
				label #{record.dscrpa1}
			div(class="form-group")
				label(class="font-weight-bold mr-3") Descrpción Herida:
				label #{record.dscrpa2}
			div(class="form-group")
				label(class="font-weight-bold mr-3") Fecha Herida:
				label #{record.dateInjury}
			div(class="form-group")
				label(class="font-weight-bold mr-3") Foto Herida:
				label #{record.photoInjury}
			div(class="btn-group")
				a(href="/session/records/edit" class="btn btn-default btn-outline-primary btn-lg" data-toggle="tooltip" data-placement="top" title="Editar")
					i(class="fa fa-pencil-square-o")
				a(href="/session" class="btn btn-default btn-outline-danger btn-lg" data-toggle="tooltip" data-placement="top" title="Volver")
					i(class="fa fa-caret-square-o-left")

