extends ../../layout.jade

block contenido
	-if (user.permission == "Admin")
		include ../session_permission/adminActions.jade
	-else if (user.permission == "Branch")
		include ../session_permission/branchActions.jade
	-else if (user.permission == "Resource")
		include ../session_permission/resourceActions.jade
	-else
		include ../session_permission/userActions.jade

	main
		div(class="container d-flex justify-content-between align-items-center top-space")
			h2 Mis Servicios
			a(href="/session/servicios/new" class="btn btn-default btn-outline-primary btn-lg" data-toggle="tooltip" data-placement="top" title="Nuevo servicio")
				i(class="fa fa-plus-square-o")
		div(class="container mid-space")
			table(class="table table-hover table-bordered table-responsive rounded")
				thead(class="thead-light text-center")
					tr
						th(class="col text-center")
							h5 Servicio
						th(class="col text-center")
							h5 Posición
						th(class="col text-center")
							h5 Género
						th(class="col text-center")
							h5 Tipo
						th(class="col text-center")
							h5 Acción
				tbody(id="servicio")
					for service in services.reverse()
						tr
							td
								a(href="/session/servicios/#{service._id}")
									h5(class="text-info") Servicio: #{service.name}
								h5(class="text-secondary") Detalle: #{service.brief}
							td
								h5(class="text-secondary")
									-if (service.position == null)
										| NN
									-else
										| #{service.position}
							td
								h5(class="text-secondary")
									-if (service.gender == null)
										| NN
									-else
										| #{service.gender}
							td
								h5(class="text-secondary") #{service.category}
							td
								form
									div(class="btn-group" role="group")
										button(type="submit" formaction="/session/servicios/#{service._id}/edit" class="btn btn-outline-dark btn-lg" data-toggle="tooltip" data-placement="top" title="Editar")
											i(class="fa fa-pencil-square-o")
										button(type="submit" formaction="/session/servicios/#{service._id}?_method=DELETE" formmethod="POST" class="btn btn-outline-danger btn-lg" data-toggle="tooltip" data-placement="top" title="Eliminar")
											i(class="fa fa-trash-o")
					script(id="servicio-template" type="text/x-handlebars-template")
						tr
							td
								a(href="/session/servicios/{{service._id}}")
									h5(class="text-info") Servicio: {{name}}
								h5(class="text-secondary") Detalle: {{brief}}
							td
								h5(class="text-secondary") {{category}}
							td
								form
									div(class="btn-group" role="group")
										button(type="submit" formaction="/session/servicios/{{service._id}}/edit" class="btn btn-outline-dark btn-lg" data-toggle="tooltip" data-placement="top" title="Editar")
											i(class="fa fa-pencil-square-o")
										button(type="submit" formaction="/session/servicios/{{service._id}}?_method=DELETE" formmethod="POST" class="btn btn-outline-danger btn-lg" data-toggle="tooltip" data-placement="top" title="Eliminar")
											i(class="fa fa-trash-o")
					script(src="/public/js/sockets/service.js")
