extends ../../layout.jade

block contenido
	-if (user.permission == "Admin") 
		include ../session_permission/adminActions.jade
	-else if (user.permission == "Branch")
		include ../session_permission/branchActions.jade
	-else if (user.permission == "Resource")
		include ../session_permission/resourceActions.jade
	-else
		include ../session_permission/userActions.jade

	main
		div(class="container mx-auto col-xs-12 col-sm-12 col-md-12 col-lg-8 top-space")
			h1(class="text-center mb-3") Mi agenda
			div(class="container")
				if(user.permission == "Admin")
					div(class="form-group")
						select(class="form-control" name="brch" id="brch")
							option(class="text-secondary" value="undefined" disabled selected) Seleccione sucursal
							for branch in branches
								option(class="text-secondary" value=branch._id)=branch.name
				if(user.permission == "Admin" || user.permission == "Branch")
					div(class="form-group")
						select(class="form-control" name="ress" id="ress")
							option(class="text-secondary" value="undefined" disabled selected) Seleccione especialista
							for resource in resources
								option(class="text-secondary" value=resource._id)=resource.name
				div(id="calendar" class="disabled")
					input(type="hidden" id="fetchId")

			script.
				$(document).ready(function() {
					var fetchId = undefined;
					var workHours = [
						{
							dow: [1, 2 ,3 ,4 ,5],
							start: "07:00",
							end: "20:00"
						},
						{
							dow: [6],
							start: "07:00",
							end: "14:00"
						}
					];

					if("!{user.permission}" == "Resource") {
						fetchId = "!{user._id}";
						workHours = !{JSON.stringify(user)}.workHours;
						$('#calendar').removeClass("disabled");
					}
				
					$("#calendar").fullCalendar({
						header: {
							left: 'title',
							right: 'prev,next,today'	
						},
						titleFormat: 'MMM YYYY',
						buttonText: {
							today:    'hoy'
						},
						themeSystem: 'bootstrap4',
						defaultView: 'agendaWeek',
						columnHeaderText: function(mom){
							switch (mom.weekday()){
								case 0: return 'Dom\n' + mom.date() + '/' + (mom.month()+1); break;
								case 1: return 'Lun\n' + mom.date() + '/' + (mom.month()+1); break;
								case 2: return 'Mar\n' + mom.date() + '/' + (mom.month()+1); break;
								case 3: return 'Mie\n' + mom.date() + '/' + (mom.month()+1); break;
								case 4: return 'Jue\n' + mom.date() + '/' + (mom.month()+1); break;
								case 5: return 'Vie\n' + mom.date() + '/' + (mom.month()+1); break;
								case 6: return 'Sab\n' + mom.date() + '/' + (mom.month()+1); break;
								default: return;
							}
						},
						allDaySlot: false,
						slotDuration: "00:15:00",
						slotLabelInterval: "01:00",
						slotEventOverlap: false,
						minTime: "07:00:00",
						maxTime: "20:00:00",
						businessHours: workHours,
						nowIndicator: true,
						//Para seleccionar fecha y hora
						selectable: false,
						//Para eventos existentes
						editable: false,
						displayEventEnd: true,
						events: {
							url: 'http://localhost:3000/session/documentos/events',
							type: 'GET',
							error: function(){
								console.log('there was an error while fetching events!');
							},
							data : function(){
								return { resourceId : fetchId }
							},
							color: 'lightGrey',
							textColor: 'grey',
							eventOverlap: false,
							success: function(events){
								var colors = {
									"agendado": ['lightBlue', 'grey'],
									"confirmado": ['blue', 'lightGrey'],
									"ejecutado": ['green', 'white'],
									"abandonado": ['red', 'white'],
									"block": ['lightGrey', 'grey']
								}
								events.forEach(function(evt){
									evt.color = colors[evt.title][0];
									evt.textColor = colors[evt.title][1];
								})
							}
						},
						eventMouseover: function(event) {
							var curDoc = _.find(!{JSON.stringify(documentos)}, function(doc){
								return doc.event._id == event._id
							});
							if(curDoc){
								var tooltip = '<div class="tooltipevent badge badge-dark" style="position:absolute;z-index:10001;">' + 
								'<div class="btn btn-light">Paciente: ' + curDoc.usuario.name + '</div>' +
								'<br></br>' +
								'<br>Servicio: ' + curDoc.servicio.name + '</br>' +
								'<br>Inicio: ' + curDoc.event.start.split('T')[1].split('.')[0] + '</br>' +
								'<br>Fin: ' + curDoc.event.end.split('T')[1].split('.')[0] + '</br>' +
								'<br></br>' +
								'<button class="btn btn-outline-primary"><i class="fa fa-calendar-check-o"></i></button>' +
								'<button class="btn btn-outline-success"><i class="fa fa-calendar-check-o"></i></button>' +
								'<button class="btn btn-outline-danger"><i class="fa fa-calendar-times-o"></i></button>' +
								'<br></br>' +
								 '</div>';
								$("body").append(tooltip);
								$(this).mouseover(function(e) {
									$(this).css('z-index', 10000);
									$('.tooltipevent').fadeIn('500');
									$('.tooltipevent').fadeTo('10', 1.9);
								}).mousemove(function(e) {
									$('.tooltipevent').css('top', e.pageY + 10);
									$('.tooltipevent').css('left', e.pageX + 20);
								});
							}
						},
						eventMouseout: function(event, jsEvent) {
							$(this).css('z-index', 8);
							$('.tooltipevent').remove();
						},
						eventClick: function(event){
							var curDoc = _.find(!{JSON.stringify(documentos)}, function(doc){
								return doc.event._id == event._id
							});
							window.location.href = 'http://localhost:3000/session/documentos/' + curDoc._id;
						}
					});

					$("#brch").change(function(e){
							if (e.originalEvent) {
								var option = $('<option class="text-secondary" value="undefined" disabled selected>Elige especialista</option>'); 
								$("#ress")
									.empty()
									.append(option);
								brchResrcs = _.where(!{JSON.stringify(resources)}, {parentBranch: this.value});
								brchResrcs.forEach(function(resource){
									$("#ress").append(new Option(resource.name, resource._id));
								});
								$('#calendar').fullCalendar("removeEvents");
								$('#calendar').fullCalendar("option", {	selectable: false });
								$('#calendar').addClass("disabled");
							}
							else {
							}
						});

					$("#ress").change(function(){
						workHours = _.where(!{JSON.stringify(resources)}, {_id: $("#ress").val()})[0].workHours;
						fetchId = this.value;
						$('#calendar').removeClass("disabled");
						$('#calendar').fullCalendar("option", {
							businessHours: workHours 
						});
						$('#calendar').fullCalendar("removeEvents");
						$('#calendar').fullCalendar("refetchEvents");
					});

				});