extends ../../layout.jade

block contenido
	-if (user.permission == "Admin") 
		include ../session_permission/adminActions.jade
	-else if (user.permission == "Branch")
		include ../session_permission/branchActions.jade
	-else if (user.permission == "Resource")
		include ../session_permission/resourceActions.jade
	-else
		include ../session_permission/userActions.jade

	main
		div(class="container mx-auto col-xs-10 col-sm-8 col-md-6 col-lg-4 top-space documento-edit")
			h1(class="text-center mb-3") Editar agendamiento
			form(id="sendDoc" action="/session/documentos/#{documento.id}?_method=PUT" method="POST")
				div(class="text-center top-space")
					span(class="step")
					span(class="step")
					span(class="step")
				div(class="tab")
					p Selección de tratamiento
					div(class="form-group") 
						select(class="form-control" name="usr" id="usr")
							if (documento.usuario !== undefined)
								option(class="text-secondary" value=documento.usuario._id selected) #{documento.usuario.name}
							else
								option(class="text-secondary" value="undefined" disabled selected)="Seleccione usuario"
					div(class="form-group") 
						select(class="form-control" name="svc" id="svc")
							if (documento.servicio !== undefined)
								option(class="text-secondary" value=documento.servicio._id selected) #{documento.servicio.name}
							else
								option(class="text-secondary" value="undefined" disabled selected)="Seleccione servicio"
					-if (user.permission == "Admin")
						div(class="human-body")
				div(class="tab")
					p Selección de sucursal
					div(class="form-group")
						select(class="form-control" name="brch" id="brch")
							if (documento.sucursal !== undefined)
								option(class="text-secondary" value=documento.sucursal._id selected) #{documento.sucursal.name}
							else
								option(class="text-secondary" value="undefined" disabled selected)="Seleccione sucursal"
					div(id="map" class="map")
				div(class="tab")
					p Agendamiento de hora
					div(class="form-group")
						select(class="form-control" name="ress" id="ress")
					div(id="calendar" class="disabled")
						input(type="hidden" id="dateSelect" name="dateSelect" value="")

				div(class="form-group btn-group float-right top-space" role="group")
					button(type="button" class="btn btn-outline-danger btn-lg" id="prevBtn" onclick="nextPrev(-1)" data-toggle="tooltip" data-placement="top" title="Atrás")
						i(class="fa fa-caret-square-o-left")
					button(type="button" class="btn btn-outline-success btn-lg" id="nextBtn" onclick="nextPrev(1)" data-toggle="tooltip" data-placement="top" title="Siguiente")
						i(class="fa fa-check-square-o")

				script(src="/public/js/renderFuncs.js")
				script.
					$(document).ready(function() {
						var duration = 0;
						var sessLenght = moment.duration(duration, "minutes");
						var workHours = [
							{
								dow: [1, 2 ,3 ,4 ,5],
								start: "07:00",
								end: "20:00"
							},
							{
								dow: [6],
								start: "07:00",
								end: "14:00"
							}
						];

						_.reject(!{JSON.stringify(users)}, {_id: "#{documento.usuario._id}"}).forEach(function(user){
							$("#usr").append(new Option(user.name, user._id));
						});

						_.reject(!{JSON.stringify(services)}, {_id: "#{documento.servicio._id}"}).forEach(function(srvc){
							$("#svc").append(new Option(srvc.name, srvc._id));
						});

						_.reject(!{JSON.stringify(branches)}, {_id: "#{documento.sucursal._id}"}).forEach(function(brnch){
							$("#brch").append(new Option(brnch.name, brnch._id));
						});
					
						_.where(!{JSON.stringify(resources)}, {parentBranch: "#{documento.recurso.parentBranch._id}"}).forEach(function(resource){
							if(resource._id != "#{documento.recurso._id}") {
								$("#ress").append(new Option(resource.name, resource._id));
							}
							else {
								$("#ress").append(new Option(resource.name, resource._id, true, true));
								workHours = resource.workHours;
							}
						});

						$("#svc").change(function(e){
							if (e.originalEvent) {}
							else {
								var selOpt = _.where(this.options, {selected: true}).map(a => a.value);
								duration = _.filter(!{JSON.stringify(services)}, function(elem){
									return (selOpt).includes(elem._id);
								}).map(b => b.duration).reduce((c, d) => (c + d));
								sessLenght = moment.duration(duration, "minutes");
								$('#calendar').fullCalendar('option', {
									snapDuration: sessLenght
								});
							}
						});

						$("#brch").change(function(e){
							if (e.originalEvent) {
								var option = $('<option class="text-secondary" value="undefined" disabled selected>Elige especialista</option>'); 
								$("#ress")
									.empty()
									.append(option);
								brchResrcs = _.where(!{JSON.stringify(resources)}, {parentBranch: this.value});
								brchResrcs.forEach(function(resource){
									$("#ress").append(new Option(resource.name, resource._id));
								});
								$('#calendar').fullCalendar("removeEvents");
								$('#calendar').fullCalendar("option", {	selectable: false });
								$('#calendar').addClass("disabled");
							}
							else {
								$('#calendar').removeClass("disabled");
								$('#calendar').fullCalendar("option", {	selectable: true });
								$('#calendar').fullCalendar("removeEvents");
								$('#calendar').fullCalendar("refetchEvents");
							}
						});

						$("#ress").change(function(){
							workHours = _.where(!{JSON.stringify(resources)}, {_id: $("#ress").val()})[0].workHours;
							$('#calendar').removeClass("disabled");
							$('#calendar').fullCalendar("option", {	
								selectable: true,
								businessHours: workHours 
							});
							$('#calendar').fullCalendar("removeEvents");
							$('#calendar').fullCalendar("refetchEvents");
						});
					
						$("#calendar").fullCalendar({
							header: {
								left: 'title',
								right: 'prev,next,today'	
							},
							titleFormat: 'MMM YYYY',
							buttonText: {
								today:    'hoy'
							},
							themeSystem: 'bootstrap4',
							defaultView: 'agendaWeek',
							columnHeaderText: function(mom){
								switch (mom.weekday()){
									case 0: return 'Dom\n' + mom.date() + '/' + (mom.month()+1); break;
									case 1: return 'Lun\n' + mom.date() + '/' + (mom.month()+1); break;
									case 2: return 'Mar\n' + mom.date() + '/' + (mom.month()+1); break;
									case 3: return 'Mie\n' + mom.date() + '/' + (mom.month()+1); break;
									case 4: return 'Jue\n' + mom.date() + '/' + (mom.month()+1); break;
									case 5: return 'Vie\n' + mom.date() + '/' + (mom.month()+1); break;
									case 6: return 'Sab\n' + mom.date() + '/' + (mom.month()+1); break;
									default: return;
								}
							},
							allDaySlot: false,
							slotDuration: "00:15:00",
							slotLabelInterval: "01:00",
							slotEventOverlap: false,
							minTime: "07:00:00",
							maxTime: "20:00:00",
							businessHours: workHours,
							//Para seleccionar fecha y hora
							selectable: false,
							selectHelper: true,
							selectOverlap: function(event){
								return event.rendering === "background";
							},
							selectConstraint: 'businessHours',
							snapDuration: sessLenght,
							selectAllow: function(selectInfo){
								if (selectInfo.end.diff(selectInfo.start) !== sessLenght._milliseconds || selectInfo.start < Date.now())
									return false;
								return true;
							},
							select: function(start, end, jsEvent, view){
								var appointment = {
									start: moment.utc(start),
									end: moment.utc(end)
								};
								document.getElementById("dateSelect").value = JSON.stringify(appointment);
							},
							unselectAuto: false,
							unselect: function(jsEvent, view){
								document.getElementById("dateSelect").value = "";
							},
							//Para eventos existentes
							editable: false,
							displayEventEnd: false,
							events: {
								url: 'http://localhost:3000/session/documentos/events',
								type: 'GET',
								error: function(){
									console.log('there was an error while fetching events!');
								},
								data : function(){
									return { resourceId : $("#ress").val() }
								},
								color: 'lightGrey',
								textColor: 'grey',
								eventOverlap: false,
								success: function(events){
									var eventsToEdit = _.where(events, {_id: "!{documento.event._id}"});
									if(eventsToEdit.length > 0) {
										eventsToEdit[0].color = "red";
										eventsToEdit[0].rendering = "background";
									}
								}
							}
						});
					});

				script.
					function initMap(){
						var test = {
							lat: -33.361940,
							lng: -70.514989
						};

						var map = new google.maps.Map(document.getElementById("map"), {
							center: test,
							zoom: 15 
						});

						var marker = new google.maps.Marker({
							position: test,
							map: map
						});
					}

				script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMXiJ_cvAbyP1zQ9naANFr1hw1s7fruto&callback=initMap", async, defer)
