extends ../../layout.jade

block contenido
	-if (user.permission == "Admin") 
		include ../session_permission/adminActions.jade
	-else if (user.permission == "Branch")
		include ../session_permission/branchActions.jade
	-else if (user.permission == "Resource")
		include ../session_permission/resourceActions.jade
	-else
		include ../session_permission/userActions.jade

	main
		div(class="container d-flex justify-content-between align-items-center top-space")
			h2 Mi Equipo
			a(href="/session/org/new" class="btn btn-default btn-outline-primary btn-lg" data-toggle="tooltip" data-placement="top" title="Nuevo miembro")
				i(class="fa fa-plus-square-o")
		div(class="container mid-space")
			table(class="table table-hover table-bordered table-responsive rounded") 
				thead(class="thead-light text-center")
					tr
						th(class="col text-center")
							h5 Miembro
						th(class="col text-center")
							h5 Tipo
						th(class="col text-center")
							h5 Acción
				tbody(id="miembros")
					for miembro in staff.reverse()
						tr
							td
								a(href="/session/org/#{miembro._id}")
									h5(class="text-info") Miembro: #{miembro.name}
								-if(miembro.permission == "Resource")
									h5(class="text-secondary") Sucursal: #{miembro.parentBranch.name}
							td
								h5(class="text-secondary") #{miembro.permission}
							td
								form
									div(class="btn-group" role="group")
										button(type="submit" formaction="/session/org/#{miembro._id}/edit" class="btn btn-outline-dark btn-lg" data-toggle="tooltip" data-placement="top" title="Editar")
											i(class="fa fa-pencil-square-o")
										button(type="submit" formaction="/session/org/#{miembro._id}?_method=DELETE" formmethod="POST" class="btn btn-outline-danger btn-lg" data-toggle="tooltip" data-placement="top" title="Eliminar")
											i(class="fa fa-trash-o")
					script(id="miembro-template" type="text/x-handlebars-template")
						tr
							td
								a(href="/session/org/{{miembro._id}}")
									h5(class="text-info") Miembro: {{name}}
								h5(class="text-secondary") Sucursal: {{parentBranch.name}}
							td
								h5(class="text-secondary") {{permission}}
							td
								form
									div(class="btn-group" role="group")
										button(type="submit" formaction="/session/org/{{miembro._id}}/edit" class="btn btn-outline-dark btn-lg" data-toggle="tooltip" data-placement="top" title="Editar")
											i(class="fa fa-pencil-square-o")
										button(type="submit" formaction="/session/org/{{miembro._id}}?_method=DELETE" formmethod="POST" class="btn btn-outline-danger btn-lg" data-toggle="tooltip" data-placement="top" title="Eliminar")
											i(class="fa fa-trash-o")
					script(src="/public/js/member.js")