extends ../../layout.jade

block contenido
	-if (user.permission == "Admin") 
		include ../session_permission/adminActions.jade
	-else if (user.permission == "Branch")
		include ../session_permission/branchActions.jade
	-else if (user.permission == "Resource")
		include ../session_permission/resourceActions.jade
	-else
		include ../session_permission/userActions.jade

	main
		div(class="container d-flex justify-content-between align-items-center top-space")
			h2 Mis Packs
			a(href="/session/packs/new" class="btn btn-default btn-outline-primary btn-lg")
				i(class="fa fa-plus-square-o")
		div(class="container mid-space")
			table(class="table table-hover table-bordered table-responsive rounded") 
				thead(class="thead-light text-center")
					tr
						th(class="col text-center")
							h5 Pack
						th(class="col text-center")
							h5 Estado
						th(class="col text-center")
							h5 Acción
				tbody(id="packs")
					for pack in packs.reverse()
						tr
							td
								a(href="/session/packs/#{pack._id}")
									h5(class="text-info") #{pack.packType.title} (#{(pack.sessRemaining) ? "Incompleto" : "Finalizado"})
								h5(class="text-secondary") Adquirido el #{pack.dateBought.toISOString().replace(/T.*/,'').split('-').reverse().join('/')} 
							td(class="col text-center")
								h5(class="text-secondary") #{(pack.payed) ? "Pagado" : "Por pagar"}
							td(class="col text-center")
								form
									div(class="btn-group" role="group")
										button(type="submit" formaction="/session/packs/#{pack._id}?_method=DELETE" formmethod="POST" class="btn btn-outline-danger btn-lg" data-toggle="tooltip" data-placement="top" title="Eliminar")
											i(class="fa fa-trash-o")
					
					script(id="pack-template" type="text/x-handlebars-template")
						tr
							td
								a(href="/session/packs/{{_id}}")
									h5(class="text-info") {{packType}}
								h5(class="text-secondary") Recién comprado
							td(class="col text-center")
								h5(class="text-secondary") {{payed}}
							td(class="col text-center")
								form
									div(class="btn-group" role="group")
										button(type="submit" formaction="/session/packs/{{_id}}?_method=DELETE" formmethod="POST" class="btn btn-outline-danger btn-lg" data-toggle="tooltip" data-placement="top" title="Eliminar")
											i(class="fa fa-trash-o")
					script(src="/public/js/sockets/pack.js")
